@model IEnumerable<ProjetoBackend.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compras</h1>

<p></p>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FornecedorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompraId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CompraId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompraId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
