@model IEnumerable<ProjetoBackend.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaFiscal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    <a asp-controller="ItensVendas" asp-action="Index" asp-route-id="@item.VendaId">Produtos</a> |
                    <a asp-controller="ServicosVendas" asp-action="Index" asp-route-id="@item.VendaId">Serviços</a> |
                    <a asp-action="Edit" asp-route-id="@item.VendaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VendaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VendaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
