@model IEnumerable<ProjetoBackend.Models.ServicoVenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.VendaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicoVendaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicoVendaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicoVendaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
